<style>

h1
{
	text-align: center;
	background-color: 4EC3E0;
	color: white;
}
h2
{
	background-color: 4EC3E0;
	color: white;
}
p
{
	font-family: Lato;
	font-style: light 300;
	color: white;
}
<style>
